body {
  font-family: "Helvetica";
  color: #666;
}

.node circle {
  fill: #fff;
  stroke: #612c83;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
